<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="SimpleOscApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.ingoing.OscClientApplication">
         </run>
      </application>
   </extension>
   <extension
         id="md8ControllerApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.outgoing.Md8OscControllerClientApplication">
         </run>
      </application>
   </extension>
   <extension
         id="TuioOscClientApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.tuio.ingoing.TuioOscClientApplication">
         </run>
      </application>
   </extension>
   <extension
         id="virageOscInputApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.ingoing.VirageOscInputClientApplication">
         </run>
      </application>
   </extension>
   <extension
         id="live8SimpleApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.outgoing.AbletonLiveClientApplication">
         </run>
      </application>
   </extension>
   <extension
         id="liveGuiControlApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.ableton.AbletonLiveClientGUIControlApplication">
         </run>
      </application>
   </extension>
   <extension
         id="md8GuiControllerApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.modul8.Modul8ClientGUIControlApplication">
         </run>
      </application>
   </extension>
   <extension
         id="EZMojoSimpleApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="net.sf.smbt.tests.osc.ezmojo.EZMojoSimpleApp">
         </run>
      </application>
   </extension>

</plugin>
